.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
}

.container{
  
  display: flex;
  width: 100%;
  height: 100vh;
  background-color:rgba(207, 45, 45, 0.128);
  flex-direction: row;
}

.App-header{
  display: flex;
  position: absolute;top: 0px;
  z-index: 1;
  background-color: rgba(165, 165, 165, 0.182);
  width: 100%;
  height: 10vh;
}
.headerleft{
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}
.logo{
  width: 60px;
  height: 30%;
  margin-left: 10%;
}

.headerright{
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row;
}


.m1{
  display: flex;
width: 50%;
height: 100%;
flex-direction: row;
align-items: center;
justify-content: space-around;
}
.lokeded{
  width: 25px;
  height: 25px;
}
.m2{
  display: flex;
  justify-content:space-around;
  margin-left: 15%;
  align-items: center;
  width: 30%;
  height: 100%;
}
.searchin{
  width: 25px;
  height: 25px;
}

.m3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.mennu{
  width: 25px;
  height: 25px;
}

.columa{
  display: flex;
  width: 15%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(48, 47, 47, 0.732),rgba(228, 228, 228, 0.732));
  align-items: center;
  justify-content: center;
}

.columb{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(48, 47, 47, 0.732),
  rgba(228, 228, 228, 0.732)),
  url(./images/302.jpeg) no-repeat;
  background-size: cover;;
}
.columc{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(48, 47, 47, 0.732),rgba(228, 228, 228, 0.732));
}
.columd{
  display: flex;
  flex-direction: column-reverse;
  width: 10%;
  height: 100vh;
  background-color:rgba(228, 228, 228, 0.732);
}

.icons{
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-bottom: 20px;
}
.face{
  width: 100%;
  height: 100%;
}
.twin{
  width: 100%;
  height: 100%;
}
.insta{
  width: 100%;
  height: 100%;
}

.inputtext{
margin-top: 30px;
width: 55vh;
height: 30px;
border-radius:8px;
background-color: alpha;
}
.banner{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(246, 246, 246, 0);
}
.tb{
 font-size: 110px;
 position: absolute;
 left: 10%;
 top: 50%;
}
.tbx{
  font-size: 90px;
  position: absolute;
  left: 30%;
  top: 60%;
 }

